<a href="https://colab.research.google.com/github/joyw93/AI_Project/blob/main/%EB%A1%9C%EC%A7%80%EC%8A%A4%ED%8B%B1_%ED%9A%8C%EA%B7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [35]:
# n 개의 표본 생성

n = 1000
m = 3
X = np.hstack([ 40+70*np.random.rand(n,1), 80+80*np.random.rand(n,1)])
y = np.zeros(n)
for i in range(n):
  if 2*X[i][0] + X[i][1] > 300:
    y[i] = 1
  else:
    y[i] = 0

dfx = pd.DataFrame(X)
dfy = pd.DataFrame(y)
df = pd.concat([dfy,dfx],axis=1)
df.columns = ['심장병 유무','체중', '평균혈압']
df=df.astype(int)
df

     심장병 유무   체중  평균혈압
0         0   66   122
1         0   51   149
2         0   52   128
3         0   93    98
4         0   97    94
..      ...  ...   ...
995       1  103   136
996       0   73   120
997       1   95   115
998       0   73    88
999       0   65    99

[1000 rows x 3 columns]

In [36]:
# 데이터 표준화

scaler = StandardScaler()
X = scaler.fit_transform(X)
X = np.hstack([np.ones([n,1]),X])
y = y.reshape(n,1)

In [37]:
#sigmoid 함수 정의

def sigmoid(z):
  return 1/(1 + np.exp(z))

In [38]:
# 경사하강법 적용

def gradient_descent(X):
  alpha = 0.001
  w = np.zeros([m,1])
  for i in range(10000):
    del_lw = X.T @ (y - sigmoid(-X @ w))
    w = w - alpha * (-del_lw)
  return w

In [39]:
w = gradient_descent(X)

In [40]:
y_predict = np.zeros(n)

for i in range(n):
  if sigmoid(-X @ w)[i] > 0.5:
    y_predict[i] = 1
  else:
     y_predict[i] = 0

In [41]:
count = 0
for i in range(n):
  if y[i]==y_predict[i]:
    count=count+1

accuracy = (count / n) *100

print('accuracy: '+str(accuracy)+'%')

accuracy: 99.9%